<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lordofthewings"
        tools:targetApi="31">
        <activity
            android:name=".Views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Views.StartUpPages.StartUpPage"
            android:label="StartUpPage"
            android:exported="true"
            >
        </activity>
        <activity android:name=".Views.WalletPage"
            android:label="WalletPage"
            android:exported="true"
            />
        <activity android:name=".Views.HomePage"
            android:label="HomePage"
            android:exported="true"
            />
        <activity android:name=".Views.StartUpPages.LogInPage"
            android:label="LoginPage"
            android:exported="true"
            />
        <activity android:name=".Views.StartUpPages.SignUpPage"
            android:label="SignUpPage"
            android:exported="true"
            />
        <activity android:name=".Views.CameraPages.QRCodeScan"
            android:label="QRCodeScan"
            android:exported="true"
            />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

    </application>

</manifest>